# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
//*.obj

# Directories
/x64
/SDL2
/libraries
/.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
